body {
  margin: 0ch;
  padding: 0ch;
}

.App
{
  width: 100vw;
  height: 100%;
}

.CalculatorGrid
{
  display: grid;
  justify-content: center;
  align-content: center;
  min-width: 80vw;

  grid-template-columns: repeat(4, 120px);
  grid-template-rows: repeat(6, 60px);
}

button
{
  border: 0.1px solid gray;
  outline: none;
  background-color: rgba(235, 235, 235, 0.973);
  font-weight: bold;
}

button:hover
{
  background-color: gray;
}

.MathOperator
{
  background-color: orange;
  color: white;
}

#cero
{
  grid-column: span 2;
}

.Result
{
  grid-column: 1 / -1;
  background-color: rgb(131, 131, 131);
  color:  white;
  font-size: 30px;
  display: flex;
  padding: 10px;
  
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  word-wrap: break-word;
  word-break: break-all;
}